<!DOCTYPE html>
<html>
    <head>
        <title>Options</title>
        <script src="https://kit.fontawesome.com/a9c44796a6.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script src="js/form-validation.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menus.css')}}"/>
    </head>
    <body>
        <div class="flex-container">
            <div class="options-container">
                <button id="go-back-button" class="fa-solid fa-circle-arrow-left fa-2xl"></button>
                <script type="text/javascript">
                    document.getElementById("go-back-button").onclick = function () {
                        location.href = "/";
                    };
                </script>
            </div>
            <div class="options-container">
                <button id="exit-button" class="fa-solid fa-circle-xmark fa-2xl"></button>
                <script type="text/javascript">
                    document.getElementById("exit-button").onclick = function () {

                    };
                </script>
            </div>
        </div>
        <h1>Options</h1>
        <div class="grid-container">
            <a class="menu-button prevent-select">3 darts</a>
            <a class="menu-button prevent-select">3 turns</a>
            <a class="menu-button prevent-select">no time limit</a>
        </div>
    </body>
    <footer>
    </footer>
</html>