<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a9c44796a6.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <div class="flex-container">
            <div class="options-container">
                <button id="go-back-button" class="fa-solid fa-circle-arrow-left fa-2xl"></button>
                <script type="text/javascript">
                    document.getElementById("go-back-button").onclick = function () {
                        location.href = "/";
                    };
                </script>
            </div>
            <div class="options-container">
                <button id="exit-button" class="fa-solid fa-circle-xmark fa-2xl"></button>
                <script type="text/javascript">
                    document.getElementById("exit-button").onclick = function () {

                    };
                </script>
            </div>
        </div>
        <title>Scoreboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menus.css')}}"/>
        <h1 class="prevent-select">Scoreboard</h1>
    </head>
    <body>
        <div class="grid-container scoreboard">
            <div class="data-scoreboard">
                <p>Data     Data        Data        Data        Data</p>

                <p>Data     Data        Data        Data        Data</p>
    
                <p>Data     Data        Data        Data        Data</p>
    
                <p>Data     Data        Data        Data        Data</p>
    
                <p>Data     Data        Data        Data        Data</p>
    
                <p>Data     Data        Data        Data        Data</p>
    
                <p>Data     Data        Data        Data        Data</p>
            </div>
        </div>
        <!--<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="close-button.js"></script>-->
        
        <!--<div id="close-button"></div>-->
       
    </body>
    <footer>
    </footer>
</html>